<header style = "margin-bottom : 100px;">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark topnav">
    <a class="navbar-brand" routerLink="/home">
  <img src="../../../assets/Header/kkd_logo.png" width="60" height="60" alt="">
  </a>
    <div class="collapse navbar-collapse nav">
      <div class="myDIV">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help"><i class="fas fa-info-circle"></i> Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/support"><i class="fas fa-phone-square"></i> Support</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</header>
<script>
  // Add active class to the current button (highlight it)
  var header = document.getElementById("myDIV");
  var btns = header.getElementsByClassName("nav-link");
  for (var i = 0; i < btns.length; i++) {
   btns[i].addEventListener("click", function() {
     var current = document.getElementsByClassName("active");
     current[0].className = current[0].className.replace(" active", "");
     this.className += " active";
   });
  }
  </script>
