<app-farmer-header></app-farmer-header>

<div class="container-section">
	 <div class="row">
	    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex align-items-stretch" *ngFor="let order of orderList" >
        <div class="card my-3 ml-5" *ngIf="order.orderType=='current'">
            <!--<div class="card-body">
              <h5 class="card-title one">{{order.orderId}}</h5>
                <div id="scroll" class="card-text rubic">{{order.name}}
                </div>
                <p class="card-text"><small class="text-muted">{{order.quantity}}</small></p>
            </div>

						<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal1">
						  Accept
						</button>

						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
						  Decline
						</button>-->
						<div class="card-body text-center">
					    <h4 class="card-title">OrderId :<strong>{{order.orderId}}</strong></h4>
					    <hr>
					    <div class="text-area">
					      <p class="card-text"><b>Name : </b>{{order.name}}</p>
					      <p class="card-text"><b>Customer Name : </b>{{order.name}}</p>
					      <p class="card-text"><b>Address : </b>{{order.address.addressLine}} {{order.address.city}} {{order.address.state}} {{order.address.district}} {{order.address.pincode}}</p>
					      <p class="card-text"><b>Quantity : </b>{{order.quantity}}</p>
					      <p class="card-text"><b>Amount : </b>{{order.price}}</p>
					    </div>
							<div *ngIf="order.farmerStatus==null">

								<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal1">
									Accept
								</button>

								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
									Decline
								</button>

							</div>
							<div *ngIf="order.farmerStatus=='Accept'">
								<p class="card-text"><b>Validity Of Order : </b>{{order.validityOfOrder}}</p>
								<p class="card-text"><b>Quantity : </b>{{order.mobileNo}}</p>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
									Delivered
								</button>
							</div>
					  </div>



          </div>
      </div>
    </div>
</div>




<!-- Accept Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Delivery Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<form >
  				Enter delivery date and time:
  				<input type="date" name="deliveryInfo">
					<input id="time" type="time">
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
  </div>
</div>

<!-- Decline Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">
  <div class="row">
    <div *ngFor="let items of itemList" class="col-lg-4">
			<div class="card shadow p-3 mb-5">
			  <div class="view overlay">
			    <img class="card-img-top" src="../../../../assets/images/tomatoes.jpg" alt="Search Result Image">
			  </div>
			  <div class="card-body text-center">
			    <h4 class="card-title">OrderId :<strong>order.orderId</strong></h4>
			    <hr>
			    <div class="text-area">
			      <p class="card-text"><b>Name : </b>{{order.name}}</p>
			      <p class="card-text"><b>Customer Name : </b>{{order.name}}</p>
			      <p class="card-text"><b>Address : </b>{{order.address.addressLine}} {{order.address.city}} {{order.address.state}} {{order.address.district}} {{order.address.pincode}}</p>
			      <p class="card-text"><b>Quantity : </b>{{order.quantity}}</p>
			      <p class="card-text"><b>Amount : </b>{{order.price}}</p>
			    </div>
					<div *ngIf="order.farmerStatus==null">

						<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal1">
							Accept
						</button>

						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
							Decline
						</button>

					</div>
					<div *ngIf="order.farmerStatus=='accept'">
						<p class="card-text"><b>Validity Of Order : </b>{{order.validityOfOrder}}</p>
						<p class="card-text"><b>Quantity : </b>{{order.mobileNo}}</p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
							Delivered
						</button>
					</div>
			    <button type="button" class="btn btn-success">Add to Bag</button>
			  </div>
			</div>

    </div>
  </div>
</div>-->
