body{
	background-color:rgba(0,0,0,.03);
}
.jumbotron{
	background-color:#a9c056;
	width: 100%;
	color:white;
}

.card-header{
	background: white;
	height: 70px;
	padding-top: 20px;
	font-size: 20px;
}

.card-element{}
a{
	color:#a9c056;

}

h1 {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 0 40px 0;
    text-align: center;
    margin: 0;
    color: #4b5320;
    font-size: 50px;
    line-height: 42px;
    text-shadow: 0 2px white, 0 3px #777;
    }