<app-customer-header></app-customer-header>
<!--The content below is only a placeholder and can be replaced.-->


<!-- <div class="container-fluid bg">
	<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
                <div class="title">
      <h3 >
        My account
                </h3>
            </div>
      <div class="main-body">
      <div class ="total_earnings">
      
                <a routerLink="/customer/currentOrder" class="btn btn-primary change_password_button" role="button">My orders</a>
                </div>
                <div class ="next_buttons">
                <div class ="change_password">
                <button type="submit" class="btn btn-primary change_password_button" data-target="#loginModal" data-toggle="modal">Change Password</button>
            </div>
            <div class ="change_password">
                <a routerLink="/customer/addressBook" class="btn btn-primary change_password_button" role="button">Address Book</a>
            </div>
            <div class ="change_password">
                <a routerLink="/customer/previousOrder" class="btn btn-primary change_password_button" role="button">Previous orders</a>
            </div>
            
            <div class ="change_password">
                <button type="submit" class="btn btn-primary change_password_button" data-target="#DeleteProfileModal" data-toggle="modal">Delete Profile</button>
            </div>
            
            </div></div>
        </div>
    <div class="col-md-3">
    </div>
  
</div>


<div class="modal fade" tabindex="-1" id="loginModal"
    data-keyboard="false" data-backdrop="static">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header change-password-header">
            <h4 class="modal-title">Change Password</h4>
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
           
        </div>
        <div class="modal-body change-password-body ">
            <form>
                <div class="form-group">
                    <label for="inputUserName">Mobile No</label>
                    <input [(ngModel)]="mobileNumber" class="form-control" placeholder="Enter mobile number"
                    type="text"  id="inputUserName" name="mobileNumber" title="Enter your 10 digit mobile number"/>
                </div>
                <div class="form-group">
                    <label for="psw">Current Password</label>
                    <input [(ngModel)]="currentPassword" class="form-control" placeholder="Enter current Password"
                    id="psw" name="psw"  title="Enter your current password" required type="password"/>
                </div>
                <div class="form-group">
                        <label for="inputPassword">New Password</label>
                        <input [(ngModel)]="newPassword" class="form-control" placeholder="Enter new Password"
                                type="password" id="inputPassword" name="newPassword" title="Must contain at least one number and one uppercase and one lowercase and one special case, and at least 8 or more characters" />
                    </div>
                    <div class="form-group">
                            <label for="inputPassword">Re-enter new Password</label>
                            <input [(ngModel)]="reenterNewPassword" class="form-control" placeholder="Re-enter New Password"
                                    type="password" id="inputPassword" name="reenterNewPassword" title="Re-enter your new password"/>
                        </div>
            </form>
        </div>
        <div class="modal-footer change-password-footer">
            <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
            <button  type="button" class="btn btn-primary"
                    data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>



<div class="modal fade" tabindex="-1" id="DeleteProfileModal"
    data-keyboard="false" data-backdrop="static">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Delete Profile</h4>
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
           
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="inputUserName">Mobile No</label>
                    <input [(ngModel)]="mobileNumber" class="form-control" placeholder="Enter mobile number"
                            type="text"  id="inputUserName" name="mobileNumber"/>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input [(ngModel)]="currentPassword" class="form-control" placeholder="Enter current Password"
                            type="password"  id="inputPassword" name="currentPassword" />
                </div>
               
            </form>
        </div>
        <div class="modal-footer">
            <button  type="submit" class="btn btn-primary" data-target="#ConfirmDeleteProfileModal" data-toggle="modal" data-dismiss="modal">Delete</button>
            <button  type="button" class="btn btn-primary"
                    data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>



<div class="modal fade" tabindex="-1" id="ConfirmDeleteProfileModal"
    data-keyboard="false" data-backdrop="static">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirm Action </h4>
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
           
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                   <h4>Are you surely want to delete your profile ? </h4>
                </div>
              
               
            </form>
        </div>
        <div class="modal-footer">
            <button (click)="validateUser()" type="submit" class="btn btn-primary" data-target="#ConfirmDeleteProfileModal" data-toggle="modal">Delete</button>
            <button  type="button" class="btn btn-primary"
                    data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
</div> -->


<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            
    <h2>Dynamic Tabs</h2>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
      <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
      <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
      <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>
    </div>
  </div></div> -->


  <!-- <div class="home">
        <div class="container-fluid display-table">
            <div class="row display-table-row">
                <div class="col-sm-3 hidden-xs display-table-cell v-align box" id="navigation">
                    <div class="navi">
                        <ul class="nav nav-tabs">
                            <li><a data-toggle="tab" href="#home">My Account</a></li>
                            <li><a routerLink="/farmer/addProduct">Add Product</a></li>
                            <li><a routerLink="/farmer/bankDetails">Bank Details</a></li>
                            <li><a routerLink="/farmer/currentOrder">Current Order</a></li>
                            <li><a routerLink="/farmer/previousOrder">Previous Orders</a></li>
                            <li><a routerLink="/farmer/viewProduct">View Product</a></li>
                            <li><a routerLink="/home">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" display-table-cell v-align " >
                        <div class="tab-content col-sm-9">
                                <div id="home" class="tab-pane fade in active">
                                    <h1>hi this is sridharsdaasdasdas</h1>
                                    <app-customer-current-order></app-customer-current-order>
                                </div>
                   </div>
                </div>
            </div>
        </div></div> -->

        <!-- <div class="home">
                <div class="container-fluid display-table">
                    <div class="row display-table-row">
                        <div class="col-sm-3 hidden-xs display-table-cell v-align box" id="navigation">
                            <div class="navi">
                                <ul>
                                    <li><a routerLink="/farmer/myAccount">My Account</a></li>
                                    <li><a routerLink="/farmer/addProduct">Add Product</a></li>
                                    <li><a routerLink="/farmer/bankDetails">Bank Details</a></li>
                                    <li><a routerLink="/farmer/currentOrder">Current Order</a></li>
                                    <li><a routerLink="/farmer/previousOrder">Previous Orders</a></li>
                                    <li><a routerLink="/farmer/viewProduct">View Product</a></li>
                                    <li><a routerLink="/home">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-9 display-table-cell v-align">
                            
                           </div>
                        </div>
                    </div>
                </div> -->


                <p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>