<app-common-header></app-common-header>
<h1>
    Policies
  </h1>
  
  Returns Policy
  <p>
    Returns is a scheme provided by respective sellers directly under this policy in terms of
    which the option of exchange, replacement and/ or refund is offered by the respective 
    sellers to you. All products listed under a particular category may not have the same 
    returns policy. For all products, the policy on the product page shall prevail over the 
    general returns policy. Do refer the respective item's applicable return policy on the 
    product page for any exceptions to the table below.
      
    The return policy is divided into three parts; Do read all sections carefully to understand 
    the conditions and cases under which returns will be accepted.
  </p>
