<div class="mt-100">
<h1> Bank Details </h1>

<form [formGroup]="rForm" (ngSubmit)="addBankDetails(rForm.value)">

	<div class = "card shadow">
		<div class="form-group">

			<div class = "form-comp-top">
				<div class = "name"><label for="accountNo">Accont Number</label></div>
				<input type="text" class="form-control" id="accountNo" placeholder="Enter Accont Number" formControlName="accountNo">
				<div *ngIf="rForm.controls['accountNo'].touched && rForm.controls['accountNo'].invalid" class="alert">
					<div *ngIf="rForm.controls['accountNo'].hasError('required')">
						Account Number is required!
					</div>
					<div *ngIf="rForm.controls['accountNo'].hasError('maxlength')">
						More than 12 digits not allowed.
					</div>
					<div *ngIf="rForm.controls['accountNo'].hasError('minlength')">
						Minimun 12 digits are required!
					</div>
				</div>
			</div>

			<div class = "form-comp">
				<div class = "name"><label for="accountName">Account Holder's Name</label></div>
				<input type="textarea" class="form-control" id="accountName" placeholder="Enter Account Holder's Name" formControlName="accountName">
				<div *ngIf="rForm.controls['accountName'].touched && rForm.controls['accountName'].invalid" class="alert">
					<div *ngIf="rForm.controls['accountName'].hasError('required')">
						Name is required!
					</div>
					<div *ngIf="rForm.controls['accountName'].hasError('maxlength')">
						More than 20 characters not allowed.
					</div>
					<div *ngIf="rForm.controls['accountName'].hasError('minlength')">
						Minimun 2 digits are required!
					</div>
				</div>
			</div>

			<div class = "form-comp">
				<div class = "name"><label for="ifscCode">IFSC Code</label></div>
				<input type="text" class="form-control" id="ifscCode" placeholder="Enter IFSC Code" formControlName="ifscCode">
				<div *ngIf="rForm.controls['ifscCode'].touched && rForm.controls['accountName'].invalid" class="alert">
					<div *ngIf="rForm.controls['ifscCode'].hasError('required')">
						IFSC code is required!
					</div>
					<div *ngIf="rForm.controls['ifscCode'].hasError('maxlength')">
						More than 6 characters not allowed.
					</div>
					<div *ngIf="rForm.controls['accountName'].hasError('minlength')">
						Minimun 6 digits are required!
					</div>
				</div>
			</div>
		</div>
		<div class ="form-comp-button">
			<button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">Save Details</button>
		</div>
	</div>
</form>
</div>
