<app-customer-header></app-customer-header>
<div class="container-fluid previous-orders">
  <h2 class="text-center"> Previous Orders </h2>
  <div class="row previous-orders-body">
      
      <div class="col-md-4" *ngFor="let order of previousOrders">
           <div class="card previous-orders-card" >
              <div class="card-body ">
                <ul class="list-group list-group-flush ">
                  <li class="list-group-item active">OrderId           :   {{order.orderId}}</li>
                  <li class="list-group-item previous-orders-card">Product Name             :   {{order.name}} </li>                            
                  <li class="list-group-item previous-orders-card">Quantity(in Kg.)                 :   {{order.quantity}}</li>                            
                  <li class="list-group-item previous-orders-card">Price(in Rs.)                   :   {{order.totalAmount}}</li>
                  <li class="list-group-item previous-orders-card">Farmer-Rating                   :   {{order.avgRating}}</li>
                  <li class="list-group-item previous-orders-card">OTP                      :   {{order.otp}} </li>
                </ul>
              </div>
            </div>
          </div>
          </div>
          </div>
