<div class="container mt-100">
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Payment Details
          </h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="rForm" (ngSubmit)="makePayment(rForm.value)">
            <!-->
            Form group area starts here
            </!-->
            <div class="checkbox ">
              <!--Cash on delivery checkbox-->
              <label>
                <input type="radio" formControlName="rad" value="cod" (change)="radioClick(true)" /> Cash On Delivery
              </label>
            </div>
            <div class="checkbox ">
              <!--Online payment checkbox-->
              <label>
                <input type="radio" formControlName="rad" value="card" (change)="radioClick(false)" /> Credit/Debit Card
              </label>
            </div>
            <div class="form-group">
              <label for="cardNumber">
                CARD NUMBER</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="cardNumber" placeholder="Valid Card Number" />
                <!--Input field for Card Number-->
                <div *ngIf="rForm.controls['cardNumber'].touched && rForm.controls['cardNumber'].invalid" class="alert">
                  <div *ngIf="rForm.controls['cardNumber'].hasError('minlength')">
                    Less than 16 digits
                  </div>
                  <div *ngIf="rForm.controls['cardNumber'].hasError('maxlength')">
                    More than 16 digits
                  </div>
                  <div *ngIf="rForm.controls['cardNumber'].hasError('required')">
                    Card Number is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-7 col-md-7">
                <div class="form-group">
                  <label for="expiryMonth">
                    EXPIRY DATE</label>
                  <div class="row">
                    <div class="col-sm-6 pl-ziro">
                      <input type="text" class="form-control mb-1" formControlName="expiryMonth" placeholder="MM" required />
                      <!--Input field for Month-->
                      <div *ngIf="rForm.controls['expiryMonth'].touched && rForm.controls['expiryMonth'].invalid" class="alert">
                        <div *ngIf="rForm.controls['expiryMonth'].hasError('minlength')">
                          Less than 1 digit
                        </div>
                        <div *ngIf="rForm.controls['expiryMonth'].hasError('maxlength')">
                          More than 2 digits
                        </div>
                        <div *ngIf="rForm.controls['expiryMonth'].hasError('required')">
                          Month is required!
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6  pl-ziro">
                      <input type="text" class="form-control" formControlName="expiryYear" placeholder="YY" required />
                      <!--Input field for Year-->
                      <div *ngIf="rForm.controls['expiryYear'].touched && rForm.controls['expiryYear'].invalid" class="alert">
                        <div *ngIf="rForm.controls['expiryYear'].hasError('minlength')">
                          Less than 1 digit
                        </div>
                        <div *ngIf="rForm.controls['expiryYear'].hasError('maxlength')">
                          More than 2 digits
                        </div>
                        <div *ngIf="rForm.controls['expiryYear'].hasError('required')">
                          Year is required!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-5 pull-right">
                <div class="form-group">
                  <label for="cvCode">
                    CV CODE</label>
                  <input type="password" class="form-control" formControlName="cvCode" placeholder="CV" required />
                  <!--Input field for CVV number-->
                  <div *ngIf="rForm.controls['cvCode'].touched && rForm.controls['cvCode'].invalid" class="alert">
                    <div *ngIf="rForm.controls['cvCode'].hasError('minlength')">
                      Less than 3 digits
                    </div>
                    <div *ngIf="rForm.controls['cvCode'].hasError('maxlength')">
                      More than 3 digits
                    </div>
                    <div *ngIf="rForm.controls['cvCode'].hasError('required')">
                      CVV is required!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-lg btn-block" [disabled]="rForm.invalid">Make Payment</button>
            <!--Submit Button-->
          </form>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
