<app-farmer-header></app-farmer-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 farmer-details">
        <img alt="Bootstrap Image Preview" src="http://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
        <h4>{{farmerId}}</h4>          
        <address>
          <strong>{{farmerAddressLine}}</strong><br />{{farmerCity}} {{farmerDistrict}}<br />{{farmerState}} {{farmerPincode}} <br/>
        </address>
        <h6>{{farmerMobileNumber}} {{farmerDetails}}</h6> 
        <address>
          <strong>{{farmerAlternateAddressLine}}</strong><br />{{farmerAlternateCity}} {{farmerAlternateDistrict}}<br />{{farmerAlternateState}} {{farmerAlternatePincode}} <br/>
        </address>
        <h6 [hidden]="IsHidden">{{farmerAlternateNumber}}</h6>
      </div>
<div class="col-md-6 farmer-details">
<div class ="mainButtons">
  <button type="submit" class="btn btn-primary mainButtons_button" data-target="#updateAddressModal" data-toggle="modal">Add Address</button>
</div>
<div class ="mainButtons">
  <button type="submit" class="btn btn-primary mainButtons_button" data-target="#updatePasswordModal" data-toggle="modal">Change Password</button>
</div>
<div class ="mainButtons">
  <button type="submit" class="btn btn-primary mainButtons_button" data-target="#updateMobileModal" data-toggle="modal">Alternate Mobile</button>
</div>
<div class ="mainButtons">
  <button type="submit" class="btn btn-primary mainButtons_button" data-target="#deleteProfileModal" data-toggle="modal">Delete Profile</button>
</div>
</div>
</div>
</div>
<div class="modal fade" tabindex="-1" id="updateAddressModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Alternate Address</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputAddressLine">Address Line</label>
            <input [(ngModel)]="farmerAlternateAddressLine" type="text" class="form-control"
              placeholder="Enter Address" name="farmerAlternateAddressLine">
          </div>
          <div class="form-group">
            <label for="inputCity">City</label>                                     
            <input [(ngModel)]="farmerAlternateCity" type="text" class="form-control"
              placeholder="Enter City" name="farmerAlternateCity">
          </div>
          <div class="form-group">         
            <label for="inputDistrict">District</label>
            <input [(ngModel)]="farmerAlternateDistrict" type="text" class="form-control" 
              placeholder="Enter District" name="farmerAlternateDistrict">
          </div>
          <div class="form-group">
            <label for="inputState">State</label>                
            <input [(ngModel)]="farmerAlternateState" type="text" class="form-control"
              placeholder="Enter State" name="farmerAlternateState">
          </div>
          <div class="form-group">
            <label for="inputPincode">Pincode</label>           
            <input [(ngModel)]="farmerAlternatePincode" type="number" pattern="[0-9]" class="form-control"
              step="1" placeholder="Enter Pincode" name="farmerAlternatePincode">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" (click)="updateFarmerAddress()" (click)="onSelect()"type="submit" class="btn btn-primary">Add</button>
        <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<div class="modal fade" tabindex="-1" id="updatePasswordModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputCurrentPassword">Current Password</label>
            <input [(ngModel)]="currentPassword" class="form-control" placeholder="Enter current Password"
              type="password"  name="currentPassword" />
          </div>
          <div class="form-group">
            <label for="inputNewPassword">New Password</label>
              <input [(ngModel)]="newPassword" class="form-control" placeholder="Enter new Password"
                type="password" name="newPassword" />
          </div>
          <div class="form-group">
            <label for="inputReNewPassword">Re-enter new Password</label>
            <input [(ngModel)]="reenterNewPassword" class="form-control" placeholder="Re-enter New Password"
              type="password" name="reenterNewPassword" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="resetPassword()" type="submit" class="btn btn-primary" data-dismiss="modal">Change</button>
          <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" id="updateMobileModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alternate Mobile</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputCurrentPassword">Enter Mobile Number</label>
            <input [(ngModel)]="farmerAlternateNumber" class="form-control" placeholder="Enter mobile number"
              type="number"  name="currentPassword" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="updateFarmerMobile()" (click)="onSelect()" type="submit" class="btn btn-primary" data-dismiss="modal">Update</button>
          <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" id="deleteProfileModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Profile</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputCurrentPassword">Password</label>
            <input [(ngModel)]="currentPassword" class="form-control" placeholder="Enter current Password"
              type="password"  name="currentPassword" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="deleteFarmerProfile()" type="submit" class="btn btn-primary" 
          data-target="#ConfirmDeleteProfileModal" data-toggle="modal" data-dismiss="modal">Delete</button>
          <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="delete" class="modal fade" tabindex="-1" id="ConfirmDeleteProfileModal"data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Action </h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>           
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h4>Are you surely want to delete your profile ? </h4>
          </div>               
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="deleteFarmerProfile()" type="submit" class="btn btn-primary" data-target="#ConfirmDeleteProfileModal" data-toggle="modal">Delete</button>
        <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 
