<div class="home mt-100">
  <div class="container-fluid display-table">
    <div class="row display-table-row">
      <div class="col-sm-4 hidden-xs display-table-cell v-align box" id="navigation">
        <div class="navi">
          <ul>
            <li><a routerLink="/farmer/myAccount/addAddress">Add Address</a></li>
            <li><a routerLink="/farmer/myAccount/changePassword">Change Password</a></li>
            <li><a routerLink="/farmer/myAccount/alternateMobile">Alternate Mobile</a></li>
            <li><a routerLink="/farmer/myAccount/deleteProfile">Delete Profile</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8 display-table-cell v-align">
        <div class="card-body" style="width: 200px; margin-left:50px">
          <img class="card-img-top farmer-image" src="../../../../assets/images/farmer.jpg" alt="Card image" style="width:100%">
          <h5 class="card-title">{{farmerId}}</h5>
          <p class="card-text">
          <strong>{{farmerAddressLine}}</strong><br />{{farmerCity}} {{farmerDistrict}}<br />{{farmerState}} {{farmerPincode}} <br/>
          </p>
        </div>
      </div>
    </div>
  </div> 
</div>   

