<app-common-header></app-common-header>

<h1>
    About Us
</h1>
<p>
    The project Kisan Ki Dukan(KKD) is the launch of trend that focuses on delivering goods 
    directly to the customer from the farm. As we know, it’s not fresh if it’s not from farm. 
    And so, an online approach is being implemented by providing a platform to the customer and 
    the farmers where the farmers can find and get in touch with the right customers to sell 
    their goods and in a similar fashion the customers can request for goods from the farmers 
    based on their preferences of location or price and avail the quality raw goods for their 
    use. In all this, we also aim to to create an effective environment for the trade between 
    farmers and the customers by solving the following problems.
</p>