<div class="mt-100">
<h1>Change Password</h1>
<form [formGroup]="rForm" (ngSubmit)="resetPassword(rForm.value)">
  <div class = "card">
    <div class="form-group">
    <div class = form-comp>
    <div class = "name"><label for="currentPassword">Current Password</label></div>
    <input type="text" [(ngModel)]="currentPassword" class="form-control" id="currentPassword" placeholder="Enter Current Password" formControlName="currentPassword">
    <div *ngIf="rForm.controls['currentPassword'].touched && rForm.controls['currentPassword'].invalid" class="alert">
      <div *ngIf="rForm.controls['currentPassword'].hasError('required')">
        Current Password is required!
      </div>
    </div>
    </div>
    <div class = form-comp>
      <div class = "name"><label for="newPassword">New Password</label></div>
      <input type="textarea" [(ngModel)]="newPassword" class="form-control" id="newPassword" placeholder="Enter New Password" formControlName="newPassword">
      <div *ngIf="rForm.controls['newPassword'].touched && rForm.controls['newPassword'].invalid" class="alert">
        <div *ngIf="rForm.controls['newPassword'].hasError('required')">
          New Password is required!
        </div>
      </div>
      </div>
    <div class = form-comp>
      <div class = "name"><label for="reenterNewPassword">Re-enter new Password</label></div>
      <input type="text" [(ngModel)]="reenterNewPassword" class="form-control" id="reenterNewPassword" placeholder="Enter New Password" formControlName="reenterNewPassword">
      <div *ngIf="rForm.controls['reenterNewPassword'].touched && rForm.controls['reenterNewPassword'].invalid" class="alert">
        <div *ngIf="rForm.controls['reenterNewPassword'].hasError('required')">
          Re-entered new Password is required!
        </div>
      </div>
    </div>
    </div>
    <div class = form-comp-button>
    <button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">Change</button>
    </div>
  </div>
</form>
</div>
