


    <h1>My Orders</h1>
  

<div class="container-fluid current-orders bg">
  
  <div class="row current-orders-body">
    <div *ngFor="let order of currentOrders">

      <div class="col-md-4 cards" >
           <div class="card shadow" >
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item item-id ">OrderId              :   {{order.orderId}}</li>
                  <li class="list-group-item item">Product Name             :   {{order.name}} </li>                            
                  <li class="list-group-item item">Quantity(in Kg.)                 :   {{order.quantity}}</li>                            
                  <li class="list-group-item item">Price(in Rs.)                    :   {{order.totalAmount}}</li>
                  <li class="list-group-item item">Rating                   :   {{order.avgRating}}</li>
                  <li class="list-group-item item">OTP                      :   {{order.otp}} </li>
                </ul>
              </div>
            </div>
          </div>
          </div>
          </div> </div>
  
