
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="title">My Orders</h1>
  </div>
</div>


<div class="container-fluid current-orders bg">
  
  <div class="row current-orders-body">
      
      <div class="col-md-4" *ngFor="let order of currentOrders">
           <div class="card" >
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item item-id ">OrderId           :   {{order.orderId}}</li>
                  <li class="list-group-item item">Product Name             :   {{order.name}} </li>                            
                  <li class="list-group-item item">Quantity                 :   {{order.quantity}}</li>                            
                  <li class="list-group-item item">Price                    :   {{order.totalAmount}}</li>
                  <li class="list-group-item item">Rating                   :   {{order.avgRating}}</li>
                  <li class="list-group-item item">OTP                      :   {{order.otp}} </li>
                </ul>
              </div>
            </div>
          </div>
          </div>
          </div> 
  
