/* .current-orders{
    background-color: #F0F7D4;
} */

.current-orders-body{
    padding:30px;
}

.card{
    background-color: #f9f9f9;
width : 600px;
margin : auto;}

.item{
    background-color: #f9f9f9;
}

.title{
    color : white;
    margin-top : -30px;
    font-style: roboto;
}

h1{
    text-align : center;
}

.jumbotron{
    background-color : #a9c056;
    margin-top : -15px;
    height : 30px;
    
}

.item-id{
    background-color: #a9c056;

}
