<app-farmer-header></app-farmer-header>


    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Upload a new product
			</h3>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
					<div class="dropdown">
						 
						<button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							Select product type
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							 <a class="dropdown-item " href="#">Onion</a> <a class="dropdown-item" href="#">Tomato</a> <a class="dropdown-item" href="#">Brinjal</a>
						</div>
						
					</div>
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Description
							</label>
							<input type="text" class="form-control" id="exampleInputEmail1">
						</div>
						
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Price
							</label>
							<input type="number" class="form-control" id="exampleInputPassword1">
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Bulk Order Price
							</label>
							<input type="number" class="form-control" id="exampleInputPassword1">
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Quantity
							</label>
							<input type="number" class="form-control" id="exampleInputPassword1">
						</div>
						<div class="form-group">
							 
							<label for="exampleInputFile">
								Upload an image
							</label>
							<input type="file" class="form-control-file" id="exampleInputFile">
							
						</div>
						<div class="checkbox">
							 
							<label>
								<input type="checkbox">In stock
							</label>
						</div> 
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</form>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>
