<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div clas="mt-100">
  <h1> Upload Product </h1>
<form [formGroup]="rForm" (ngSubmit)="check(rForm.value)">

  <div class = "card shadow">
    <div class="form-group">

				<div class = form-comp>
					<select class="form-control" (change)="selectChangeHandler($event)">
						<option value="select">Choose Product Name</option>
								 <option value="Onion">Onion</option>
								 <option value="Tomato">Tomato</option>
								 <option value="Brinjal">Brinjal</option>
								 <option value="Cauliflower">Cauliflower</option>
								 <option value="Carrot">Carrot</option>
								 <option value="Garlic">Garlic</option>
								 <option value="Lady Finger">Lady Finger</option>
								 <option value="Orange">Orange</option>
								 <option value="Lemon">Lemon</option>
					</select>
				</div>

		<div class = form-comp>
			<div class = "name"><label for="description">Product description</label></div>
			<textarea type="textarea" class="form-control" id="description" placeholder="Enter description" formControlName="description"></textarea>
			<div *ngIf="rForm.controls['description'].touched && rForm.controls['description'].invalid" class="alert">
					<div *ngIf="rForm.controls['description'].hasError('required')">
						description is required!
					</div>
				</div>
			  </div>

      <div class = form-comp>
		  <div class = "name"><label for="price">Product Price per kg</label></div>
		<input type="text" class="form-control" id="price" placeholder="Enter Price" formControlName="price">
		<div *ngIf="rForm.controls['price'].touched && rForm.controls['price'].invalid" class="alert">
			  <div *ngIf="rForm.controls['price'].hasError('required')">
				Price is required!
			  </div>
		  </div>
		</div>

		<div class = form-comp>
			<div class = "name"><label for="bulkOrderPrice">Product Bulk Order Price per kg</label></div>
		  <input type="text" class="form-control" id="bulkOrderPrice" placeholder="Enter Bulk Order Price" formControlName="bulkOrderPrice">
		  <div *ngIf="rForm.controls['bulkOrderPrice'].touched && rForm.controls['bulkOrderPrice'].invalid" class="alert">
				<div *ngIf="rForm.controls['bulkOrderPrice'].hasError('required')">
				  Bulk Price is required!
				</div>
			</div>
		  </div>

		  <div class = form-comp>
			<div class = "name"><label for="quantity">Quantity</label></div>
		  <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity" formControlName="quantity">
		  <div *ngIf="rForm.controls['quantity'].touched && rForm.controls['quantity'].invalid" class="alert">
				<div *ngIf="rForm.controls['quantity'].hasError('required')">
				  Quantity is required!
				</div>
			</div>
		  </div>

		  <div class = form-comp>
		  <input type="checkbox" name="available" formControlName="available" value="1"> In Stock
		</div>

      <div class = form-comp>
					<div class = "name">
					<label for="exampleInputFile">
							Upload an image
						</label></div>
						<input type="file" (change)="onFileSelected($event)" class="form-control-file" id="exampleInputFile">
			</div>

    <div class = form-comp-button>
      <button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">Submit Product</button>
	 </div>

   </div>
   </div>
</form>
</div>
