/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden !important;
}
.mt-100 {
  margin-top:100px;
}

@media screen and (max-width: 450px) {
    body {
        overflow-x: hidden !important;
    }

    div {
        overflow-x: hidden !important;
    }
}
