<!--Footer-->
<footer id="myFooter" class="mt-5">
  <div>
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo">
          <a routerLink="/home">
            <img src="../../../assets/Header/kkd_logo.png" class="mt-4 ml-5 foot-logo" width="120" height="120" alt="KKD Logo">
          </a>
        </h2>
      </div>
      <div class="col-sm-2">
        <h5>Get started</h5>
        <ul>
          <li>
            <a routerLink="/farmer/login">Farmer</a>
          </li>
          <li>
            <a routerLink="/customer/login">Customer</a>
          </li>
          <li>
            <a routerLink="/about">About Us</a>
          </li>

        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Company Information</h5>
        <ul>

          <li>
            <a routerLink="/policies">Policies</a>
          </li>
          <li>
            <a routerLink="/connect">Contact Us</a>
          </li>
          <li>
              <a routerLink="/reviews">Reviews</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li>
            <a routerLink="/help">Help</a>
          </li>
          <li>
            <a routerLink="/support">Support</a>
          </li>
          <li>
            <a routerLink="/home">Forums</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a  class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="google">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
        <button type="button" class="btn btn-default" routerLink="/connect">Contact us</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2018 Kisan Ki Dukan </p>
  </div>
</footer>
<!--/.Footer-->
